Repository zk-tokyo/core-program, pull requests merged in 2025-08, with the labels that each got.

#30 Exercise <Week 0>: akmrbaby
  week0/exercises/akmrbaby/exercise.md
Labels: exercises, week0

#52 Feat/week5
  week5/circom/.gitignore
  week5/circom/README.md
  week5/circom/circom_and_snarkjs.png
  week5/circom/fizzbuzz/fizzbuzz-solution.circom
  week5/circom/fizzbuzz/fizzbuzz.circom
  week5/circom/fizzbuzz/input.json
  week5/circom/fizzbuzz/package-lock.json
  week5/circom/fizzbuzz/package.json
  week5/circom/multiplier3/input.json
  week5/circom/multiplier3/multiplier3-solution.circom
  week5/circom/multiplier3/multiplier3.circom
  week5/circom/multiplier3/package-lock.json
  week5/circom/multiplier3/package.json
  week5/circom/over20/input.json
  week5/circom/over20/over20.circom
  week5/circom/tornado-cats/input.json
  week5/circom/tornado-cats/multiplier2-solution.circom
  week5/circom/tornado-cats/multiplier2.circom
Labels: week5

#60 Remove pdf version of week3 slides, updated link to slides
  week3/README.md
  week3/cp25_week3.pdf
Labels: week3

#61 Add link to lectures
  week3/README.md
Labels: week3

#62 Fix formatting
  week3/README.md
Labels: week3

#49 week0/exercises/ShodaiMomiyama/exercises.md
  week0/exercises/exercises.md
Labels: week0

#68 Final project/unsecured loan
  final-projects/unsecured-loan/project_proposal.md
Labels: final_projects

#40 Exercise <Week 1>: akmrbaby
  week1/exercises/akmrbaby/exercise.md
Labels: exercises, week1

#42 Exercise <Week 1>: yamdan
  week1/exercises/yamdan/exercises.md
Labels: exercises, week1

#43 Week1事前課題
  week1/exercises/yuki-js/index.md
Labels: exercises, week1

#44 <week1>: Masanari Gotoh
  week1/exercises/masanari_gotoh/exercises.md
Labels: exercises, week1

#47 week1課題提出
  week1/exercises/pepetoma/exercises.md
Labels: exercises, week1

#48 Exercise <Week 1>: ou-junya
  week1/exercises/YamadaJunya/exercise.md
Labels: exercises, week1

#76 Week5に向けたREADMEの更新
  README.md
  week5/README.md
Labels: week5

#57 Exercise <Week 2>: akmrbaby
  week2/exercises/akmrbaby/exercise.md
Labels: exercises, week2

#54 Exercise <week2>: Masanari Gotoh
  final-projects/masanari_gotoh/final_project.md
  week2/exercises/masanari_gotoh/exercises.md
Labels: exercises, week2

#90 Final project/shunsuke, project proposal
  final-projects/shunsuke/project_proposal_shunsuke.md
Labels: final_projects
